compiled/
data/
weights/
*.csrc
csrc/
simv.daidir/
*.mr
*.v
*.vcd
*.txt
*.log
*.wdb
*.vpd
*.vcslog
*.vcsmsg
*.vcsdump
*.vcs
*.vcs.h
*.vcs.cpp
*.vcs.mk
*.vcs.cmd
*.vcs.tcl
*.vcs.vpd
*.vcs.log
WORK/
*.db
*.tcl
*.lib
*.saif
*.svf
*.pvl
*.sdc
*.syn
simv
*.key
*.alib
*.fsdb
.cdsinit